@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/sizes.scss';

.section_content {
	position: absolute;
	inset: 0;
	pointer-events: none;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;

	.content {
		width: 45%;
		margin-right: 2.5rem;
		height: 50%;

		h3 {
			font-size: $extra-large-text;
			color: $dark-text;
			margin-bottom: $large-text;
		}

		p {
			font-size: $medium-text;
			color: $dark-text;
		}
	}
}
