@import '../../../styles/colors.scss';
@import '../../../styles/fonts.scss';
@import '../../../styles/sizes.scss';

.project_section[data-type='next_project'] {
	padding-top: 10rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	max-width: 80%;
	height: 30rem;
	overflow-y: hidden;
	color: $light-text;

	h2 {
		margin-bottom: -2.5rem;
		z-index: 1;
	}

	img {
		width: 100%;
		height: 30rem;
		z-index: 0;
		object-fit: cover;
	}
}

@media (width < $mobile-size) {
	.project_section[data-type='next_project'] {
		max-width: 100%;
		padding-top: 3rem;
		height: 10rem;

		h2 {
			font-size: $mobile-large-text;
			margin-bottom: -1.3rem;
		}
	}
}
