@import './sizes.scss';

@font-face {
	font-family: 'Antonia';
	src: url('../fonts/Antonia-Light.ttf') format('truetype'),
		url('../fonts/Antonia-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Clarika';
	src: url('../fonts/Clarika-regular.otf') format('opentype'),
		url('../fonts/Clarika-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

$default-font: 'Antonia', serif;
$secondary-font: 'Clarika', sans-serif;

$extra-large-text: 4rem;
$large-text: 3rem;
$medium-text: 1.6rem;
$small-text: 1.4rem;

$tablet-extra-large-text: 3.5rem;
$tablet-large-text: 3rem;
$tablet-medium-text: 1.5rem;
$tablet-small-text: 1.1rem;

$mobile-extra-large-text: 2.5rem;
$mobile-large-text: 2rem;
$mobile-medium-text: 1.3rem;
$mobile-small-text: 1rem;
