@font-face {
	font-family: 'Antonia';
	src: url('../fonts/Antonia-Light.ttf') format('truetype'),
		url('../fonts/Antonia-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Clarika';
	src: url('../fonts/Clarika-regular.otf') format('opentype'),
		url('../fonts/Clarika-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

$default-font: 'Antonia', serif;
$secondary-font: 'Clarika', sans-serif;

$small-text: 1.2rem;
$medium-text: 1.6rem;
$large-text: 2.4rem;
$extra-large-text: 3.2rem;
