@import './colors.scss';
@import './fonts.scss';
@import './sizes.scss';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
}

/* ============================== DEFAULT ================================*/
#root {
	background-color: $light-background;
}

body {
	font-family: $default-font;
	font-size: 1rem;
	color: $dark-text;
	background-color: $light-background;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: inherit;
}

/* ============================== MEDIA QUERIES ================================*/
@media (min-width: $mobile-size) {
	.mobile {
		display: none;
	}
}

@media (max-width: $tablet-size) {
	.tablet {
		display: none;
	}
}

@media (min-width: $small-desktop-size) {
	.desktop {
		display: none;
	}
}
