@import './colors.scss';
@import './fonts.scss';
@import './sizes.scss';
@import './cursor.scss';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
}

::-webkit-scrollbar {
	display: none;
}

/* ============================== DEFAULT ================================*/
#root {
	background-color: $light-background;
	width: 100vw;
	min-height: 100vh;
}

body {
	font-family: $default-font;
	font-size: 1rem;
	color: $dark-text;
	background-color: $light-background;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: inherit;
}

h2 {
	font-size: $extra-large-text;
}

h3 {
	font-size: $large-text;
}

h4 {
	font-size: $medium-text;
}

p {
	font-size: $small-text;
}

/* ============================== MEDIA QUERIES ================================*/
@media (width > $mobile-size) {
	.mobile {
		display: none;
	}
}

@media screen and (width < $mobile-size) {
	h2 {
		font-size: $mobile-extra-large-text;
	}

	h3 {
		font-size: $mobile-large-text;
	}

	h4 {
		font-size: $mobile-medium-text;
	}

	p {
		font-size: $mobile-small-text;
	}
}

@media (width < $tablet-size) {
	.tablet {
		display: none;
	}

	h2 {
		font-size: $tablet-extra-large-text;
	}

	h3 {
		font-size: $tablet-large-text;
	}

	h4 {
		font-size: $tablet-medium-text;
	}

	p {
		font-size: $tablet-small-text;
	}
}

@media (width < $small-desktop-size) {
	.desktop {
		display: none;
	}
}
