@import './colors.scss';
@import './fonts.scss';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
}

/* ============================== DEFAULT ================================*/
#root {
	background-color: $light-background;
}

body {
	font-family: $default-font;
	font-size: 1rem;
	color: $dark-text;
	background-color: $light-background;
}
