@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.close-btn {
	position: absolute;
	top: 6rem;
	left: 4rem;
	z-index: 100;
	pointer-events: all;
	color: $dark-text;
	font-size: 2rem;

	&.inverted {
		color: $light-text;
	}
}
