@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';
@import '../../styles/sizes.scss';

.close-btn {
	position: absolute;
	top: 6rem;
	left: 4rem;
	z-index: 100;
	pointer-events: all;
	color: $dark-text;
	font-size: 2rem;

	&.inverted {
		color: $light-text;
	}
}

@media screen and (width < $tablet-size) {
	.close-btn {
		position: fixed;
		top: unset;
		bottom: 1.5rem;
		left: 1.5rem;
		padding: 0.5rem;
		background-color: $dark-background;
		color: $light-text;
		border-radius: 50%;
		height: 3rem;
		width: 3rem;

		&.inverted {
			background-color: $light-background;
			color: $dark-text;
		}
	}
}
