@import '../../styles/sizes.scss';

.scroll_nav {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: $responsive-desktop;
}

@media screen and (min-width: $ultra-wide-size) {
	.scroll_nav {
		margin-left: 10rem;
	}
}
