@import '../../../styles/sizes.scss';
@import '../../../styles/fonts.scss';

.scroll_nav_title {
	position: absolute;
	top: calc(50% + ($scroll-nav-actual-image-height / 2) - 4rem);
	left: 1.5rem;
	width: 40rem;
	height: 8rem;
	overflow: hidden;

	.scroll_nav_title_outer {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 3rem;
		transition: all 0.75s ease-out;
		transform-style: preserve-3d;
		transform: perspective(2000px)
			rotateX((calc(var(--scroll) * calc(360deg / 16))));
		cursor: pointer;

		.scroll_nav_title_in {
			width: 100%;
			height: 100%;
			position: absolute;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			font-size: $extra-large-text;
			transform: rotateX(calc(var(--i) * calc(360deg / 16)))
				translateZ(270px);
			backface-visibility: hidden;
		}
	}
}
