@import '../../../styles/sizes.scss';

.project_section[data-type='image_row'] {
	padding: 5rem 0;
	margin: 0 auto;
	max-width: 80%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 2rem;

	.image_row_image {
		aspect-ratio: 1;
		background-size: cover;
		background-position: center;
		opacity: 0;
	}
}

@media screen and (width < $mobile-size) {
	.project_section[data-type='image_row'] {
		max-width: 100%;
		padding-top: 3rem;
		padding-bottom: 3rem;
		grid-template-columns: repeat(1, 1fr);
		gap: 1rem;
	}
}
