.image-track {
	position: fixed;
	top: 25vh;
	display: flex;
	gap: 4vmin;
}

.height-filler {
	width: 100vw;
	height: 300vh;
}

@media screen and (orientation: portrait) {
	.image-track {
		flex-direction: column;
		width: 90%;

		.project_img {
			width: 100%;
			aspect-ratio: 9/16;
		}
	}
}
