.image-track {
	display: flex;
	gap: 4vmin;

	.project_img {
		width: 40vmin;
		height: 56vmin;
		background-size: cover;
		background-position: 100% 50%;
		transition: all 0.5s ease-in-out;
	}

	&.big .project_img {
		width: 100vw;
		height: 100vh;
		background-position: center;
		transition: width 0.5s ease-in-out;
	}
}
